<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/spectrum.css">
  <title>XMAS</title>
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well">
          <%= @result %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="<%= request.path == '/generic' ? 'active' : '' %>">
            <a href="#effects" role="tab" data-toggle="tab">Effects</a>
          </li>
          <li role="presentation" class="<%= request.path == '/sequence' ? 'active' : '' %>">
            <a href="#sequence" role="tab" data-toggle="tab">Sequence</a>
          </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <!-- Effects pane -->
          <div role="tabpanel" class="tab-pane <%= request.path == '/generic' ? 'active' : '' %>" id="effects">
            <form class="form-horizontal" action="/generic" method="post" role="form">
              <p>&nbsp;</p>
              <div class="form-group form-group-sm">
                <label for="inputColor" class="col-sm-2 control-label">Color</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control color-picker" name="color" id="inputColor" placeholder="color" value="<%= params[:color] %>">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label for="inputDelay" class="col-sm-2 control-label">Delay</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" name="delay" id="inputDelay" placeholder="Delay" value="<%= params[:delay] %>">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <label for="inputDelay" class="col-sm-2 control-label">Brightness</label>
                <div class="col-sm-2">
                  <input type="text" class="form-control" name="brightness" id="inputDelay" placeholder="Brightness (1-255)" value="<%= params[:brightness] %>">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="1" name="clear">Clear first
                    </label>
                  </div>
                </div>
              </div>


              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <div class="btn-group btn-sm pull-right">
                    <button type="submit" class="btn btn-default" name="cmd" value="-">Stop</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="o">Off</button>
                  </div>
                  <div class="btn-group btn-sm">
                    <button type="submit" class="btn btn-default" name="cmd" value="s">Strobe</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="f">Fill</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="w">Wipe &lt;-</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="W">Wipe -&gt;</button>
                  </div>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <div class="btn-group btn-sm">
                    <button type="submit" class="btn btn-default" name="cmd" value="r">Rainbow</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="R">Rainbow 2</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="i">Fire</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="l">Linerider</button>
                  </div>
                  <div class="btn-group btn-sm">
                    <button type="submit" class="btn btn-default" name="cmd" value="b">Breath</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="F">Fade In</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="O">Fade Out</button>
                    <button type="submit" class="btn btn-default" name="cmd" value="L">Light Up</button>
                  </div>
                </div>
              </div>


            </form>
          </div>

          <!-- Sequence pane -->
          <div role="tabpanel" class="tab-pane <%= request.path == '/sequence' ? 'active' : '' %>" id="sequence">
            <form class="form-horizontal" action="/sequence" method="post" role="form">
              <p>&nbsp;</p>

              <div class="form-group form-group-sm">
                <label for="inputSequence" class="col-sm-2 control-label">
                  Sequence
                </label>

                <div class="col-sm-8">
                  <input type="text" class="form-control" name="sequence" id="inputSequence" placeholder="sequence" value="<%= params[:sequence] %>">
                  <span class="help-block">
                    (eg : W1R9o1l9s9i5r9W1w2l9R1l1R1l1r1o9W1w1W1w1R1r1s9i9R1l2)
                  </span>
                </div>
              </div>

              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-default" name="cmd" value="i">Go</button>
                </div>
              </div>

              <div class="well">
                <p>
                A sequence is a chain of a command followed by a number between 1-9 which represents the number of times the effect is repeated
                </p>
                <p>
                Possible effects are:
                <ul>
                  <li>W Wipe from start to end</li>
                  <li>w Wipe from end to start</li>
                  <li>r Rainbow effect</li>
                  <li>R Another rainbow effect</li>
                  <li>l Linerider</li>
                  <li>i Fire effect</li>
                  <li>f Fill effect</li>
                  <li>o Turn all leds to black</li>
                  <li>s Strobe effect</li>
                </ul>
                </p>
              </div>



            </form>
            <form class="form-horizontal" action="/adjust_brightness" method="post" role="form">
              <p>&nbsp;</p>

              <div class="form-group form-group-sm">
                <label for="inputBrightness" class="col-sm-2 control-label">
                  Brightness
                </label>

                <div class="col-sm-8">
                  <input type="text" class="form-control" name="brightness" id="inputBrightness" placeholder="brightness" value="<%= params[:brightness] %>">
                </div>
              </div>

              <div class="form-group form-group-sm">
                <div class="col-sm-12">
                  <button type="submit" class="btn btn-default">Go</button>
                </div>
              </div>
            </form>


          </div>

        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/spectrum.js"></script>
  <script>
  $(".color-picker").spectrum({
    //color: "#f00",
    //flat: bool,
    showInput: true,
    showInitial: true,
    allowEmpty: false,
    showAlpha: false,
    showButtons: false,
    localStorageKey: 'spectrum.xmas',
    showPalette: true,
    showPaletteOnly: false,
    togglePaletteOnly: false,
    showSelectionPalette: true,
    hideAfterPaletteSelect: true,
    clickoutFiresChange: true,
    containerClassName: 'color-picker-spectrum',
    preferredFormat: 'hex',
    //maxSelectionSize: int,
  });
  </script>

</body>

</html>
